{% extends 'base.html.twig' %}

{% block title %}Hello YetiController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>V:/Prace/Moje/Yetinder_Lesak/src/Controller/YetiController.php</code></li>
        <li>Your template at <code>V:/Prace/Moje/Yetinder_Lesak/templates/yeti/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
